/* latin */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323'),
  local('VT323-Regular'),
  url(../fonts/vt323.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	font-family: 'VT323', monospace;
	text-transform: uppercase;
	color: #333;
	margin: 0;
	padding: 0;
}

#header,
#middle,
#footer {
	margin: 0 auto;
	width: auto;
}

#score {
	margin: 50px 0 10px;
	text-align: right;
	font-size: 18px;
}

canvas#snake {
	border: 1px #ccc solid;
}

.gameover {
	display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 90px 0;
}

#footer {
	text-align: center;
}